/* ======================
    GENERAL STYLES
====================== */

:root {
    --color-main: #BC00FE;
    --color-bg: #172231;
    --font-family: 'Sora', sans-serif;
}

html {
    font-size: 26px;
}

body {
    background-color: var(--color-bg);
    font-family: var(--font-family);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-family);
    font-weight: bolder;
}

h2 {
    font-size: 3rem;
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

.text-large {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    margin-top: 0;
}

.uk-button {
    background-color: rgba(47, 71, 101, 0.5);
    color: var(--color-main);
    border: 2px var(--color-main) solid;
    border-radius: 0.5rem;
    padding: 7px 25px;
    text-transform: lowercase;
}

.uk-button:hover {
    background-color: var(--color-main);
    color: white;
}
.uk-button:hover svg path {
    stroke: white
}

.uk-button.uk-button-primary {
    background-color: var(--color-main);
    color: white;
}
.uk-button.uk-button-icon {
    padding: 10px 11px;
}

.uk-button:not(.uk-button-icon) svg {
    max-height: 25px;
    max-width: 30px;
    margin-right: 5px;
}

/* ======================
    NAV
====================== */

nav {
    margin: 0 30px;
    padding: 30px 0;
    border-bottom: 2px rgba(255, 255, 255, 0.5) solid;
}

nav .uk-navbar-nav>li>a {
    font-family: var(--font-family); 
    text-transform: lowercase;
    font-weight: 600;
    font-size: 1rem;
    min-height: auto;
}

/* ======================
    HEADER
====================== */

.uk-light h1 {
    font-size: 6rem;
    color: var(--color-main);
    margin-bottom: -15px;
}
.uk-light h1 span {
    color: white;
}

header {
    background-image: url(/assets/media/header_bg_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 550px;
    background-blend-mode: screen;
    background-color: var(--color-bg);
}

/* ======================
    SECTION 1 - MEADOW
====================== */

.section-1.section-color {
    background-color: var(--color-main);
    min-height: 100vh;
    overflow: hidden;
}

.section-1 .flower-wrapper > div > div {
    height: 10vw;
    background-image: url(/assets/media/header_bg_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-blend-mode: screen;
    background-color: var(--color-main);
}

.section-1 .flower-wrapper div:nth-child(2n) div {
    transform: rotate(-80deg);
}

.section-1 .flower-wrapper div:nth-child(3n) div {
    transform: rotate(80deg);
}

.section-1 .text-wrapper {
    position: relative;
    z-index: 10;
}

/* ======================
    SECTION 2 - NFT
====================== */

.section-2 {
    padding-top: 200px;
}

.section-2 textarea {
    background: #23344B;
    border: none;
    border-radius: 0.5rem;
    padding: 80px 20px 20px 20px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 350px;
    max-height: 600px;
    box-sizing: border-box;
    font-size: 1rem;
    color: white;
}

.section-2 textarea::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.section-2 .textarea-wrapper {
    position: relative;
}

.section-2 .secure-label {
    position: absolute;
    z-index: 1;
    display: inline-block;
    top: 15px;
    left: 15px;
    background-color: #293D58;
    font-size: 0.75rem;
    padding: 10px 15px;
    border-radius: 20px;
}

.section-2 .secure-label svg {
    height: 25px;
}

.section-2 input[type="submit"].uk-button {
    width: 100%;
    padding-top: 30px;
    margin-top: -35px;
}